- var pathToImg = "../images/"


nav
	div#logo
		img.logo(src=pathToImg + 'logo.png' alt='Marvellous!' )

h1.title What can you do with Marvellous?

section
	
	figure
		img(src=pathToImg + 'indexWeb.png' alt='Index your favorite web sites' height='')
		figcaption Lorem Ipsum dolor sit amet.
	figure
		img(src=pathToImg + 'feedWeb.png' alt='Check them later' height='')
		figcaption Lorem Ipsum dolor sit amet.
	figure
		img(src=pathToImg + 'indexWeb.png' alt='Check your newsfeed' height='')
		figcaption Lorem Ipsum dolor sit amet.

button.tryIt(name='tryIt') Try the Beta Version!


