- var logoImg = "../images/logo.png"
- var introImg = "../images/home.png"

nav
	div#logo
		img(src=logoImg alt='Marvellous!' height='100')

section
	h1.title What can you do with Marvellous?
	article
		img(src='' alt='Index your favorite web sites' height='')
		h2 Lorem Ipsum dolor sit amet.
	article
		img(src='' alt='Check them later' height='')
		h2 Lorem Ipsum dolor sit amet.
	article
		img(src='' alt='Check your newsfeed' height='')
		h2 Lorem Ipsum dolor sit amet.

