body
  font: 14px "sans-serif", Helvetica, Arial, sans-serif
  color: #333;
a
  color: #00B7FF

img
	height:250px;

h1.title
	text-align:center
	margin-top: 2%

nav
	background: #ff6908
	width: 100%

img.logo 
	height:100px

section
	width: 100%
	height: 300px
	padding:0 0 0 4%
	margin: 9% 0 0 15%


figure
	float:left
	margin: 2% 5% 0 0

button.tryIt
	background-color: #ff6908
	color: #fff
	border: none
	border-radius: 10px
	webkit-moz-border-radius: 10px
	width: 200px
	height: 50px
	margin: 10% 0 0 45%


